<IfModule mod_headers.c>
  Header set Content-Security-Policy "default-src 'self'; media-src 'self' *; style-src 'self' 'unsafe-inline'; worker-src 'self'; connect-src 'self' https://de1.api.radio-browser.info; img-src 'self' data:"
</IfModule>
